#root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
.mainPage{
    flex-grow: 1;
  }

  .cardNoticia {
    flex: 1;
    display: flex;
    align-items: stretch;
  }
 
  
  
  
  